<a href="https://colab.research.google.com/github/rahulvudari/GN22CDBDS001/blob/main/ex10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
%%writefile -a truthtable2.py
n = int(input())
def convert(ele, base):
  s = ''
  while ele:
    mod = ele%base
    if mod > 9:
      mod = chr(65+mod-10)
    s += str(mod)
    ele = ele//base
  return s[::-1]

for ele1 in range(50):
  print(convert(ele1, n))

Writing truthtable2.py

In [10]:
!python truthtable2.py

10

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [11]:
!python truthtable2.py

16

1
2
3
4
5
6
7
8
9
A
B
C
D
E
F
10
11
12
13
14
15
16
17
18
19
1A
1B
1C
1D
1E
1F
20
21
22
23
24
25
26
27
28
29
2A
2B
2C
2D
2E
2F
30
31