<a href="https://colab.research.google.com/github/rahulvudari/GN22CDBDS001/blob/main/ex10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
%%writefile -a truthtable2.py
try:
  n = int(input())
  if n > 16:
    print("Sorry, base number should be less than 16")
    raise Exception()
  def convert(ele, base):
    if ele == 0:return ele
    s = ''
    while ele:
      mod = ele%base
      if mod > 9:
        mod = chr(65+mod-10)
      s += str(mod)
      ele = ele//base
    return s[::-1]

  for ele1 in range(50):
    print(convert(ele1, n))
except:
  print('An error as occured')

Writing truthtable2.py

In [33]:
!python truthtable2.py

17
Sorry, base number should be less than 16
An error as occured

In [19]:
!cat truthtable2.py

try:
  n = int(input())
  def convert(ele, base):
    if ele == 0:return ele
    s = ''
    while ele:
      mod = ele%base
      if mod > 9:
        mod = chr(65+mod-10)
      s += str(mod)
      ele = ele//base
    return s[::-1]

  for ele1 in range(50):
    print(convert(ele1, n))
except:
  print('An error as occured')

In [20]:
!python truthtable2.py

10
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [22]:
!python truthtable2.py

2
0
1
10
11
100
101
110
111
1000
1001
1010
1011
1100
1101
1110
1111
10000
10001
10010
10011
10100
10101
10110
10111
11000
11001
11010
11011
11100
11101
11110
11111
100000
100001
100010
100011
100100
100101
100110
100111
101000
101001
101010
101011
101100
101101
101110
101111
110000
110001